name: Release SGLang Kernels

on:
  push:
    branches:
      - main
    paths:
      - sgl-kernel/python/sgl_kernel/version.py
  workflow_dispatch:
    inputs:
      tag_name:
        type: string
        required: false

concurrency:
  group: release-sglang-kernels-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-rocm700:
    if: github.repository == 'RohitNagraj/sglang'
    runs-on: self-hosted
    strategy:
      matrix:
        python-version: ["3.10"]
        rocm-version: ["700"]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: "recursive"

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build wheels
        run: |
          cd sgl-kernel
          chmod +x ./build_rocm.sh
          ./build_rocm.sh "${{ matrix.rocm-version }}"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheel-python${{ matrix.python-version }}-rocm${{ matrix.rocm-version }}
          path: sgl-kernel/dist/*

  release-rocm700:
    needs: build-rocm700
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: sgl-kernel/dist/
          merge-multiple: true
          pattern: wheel-*

      - name: Set tag name
        id: set_tag_name
        run: |
          if [ -z "${{ inputs.tag_name }}" ]; then
            TAG_NAME="v$(cat sgl-kernel/python/sgl_kernel/version.py | cut -d'"' -f2)"
            echo "tag_name=$TAG_NAME" >> $GITHUB_OUTPUT
          else
            echo "tag_name=${{ inputs.tag_name }}" >> $GITHUB_OUTPUT
          fi

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.set_tag_name.outputs.tag_name }}
          repository: RohitNagraj/sglang-whl
          token: ${{ secrets.GH_PAT_FOR_WHL_RELEASE }}
          files: |
            sgl-kernel/dist/*

      - name: Clone wheel index
        run: git clone https://oauth2:${WHL_TOKEN}@github.com/RohitNagraj/sglang-whl.git sgl-whl
        env:
          WHL_TOKEN: ${{ secrets.GH_PAT_FOR_WHL_RELEASE }}

      - name: Update wheel index
        run: python3 scripts/update_kernel_whl_index.py --rocm 700

      - name: Push wheel index
        run: |
          cd sgl-whl
          git config --local user.name "RohitNagraj"
          git config --local user.email "rohitnagraj.99@gmail.com"
          git add -A
          git commit -m "update whl index"
          git push
